In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
#url = <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnazvkvhL0cy6SR7HnliZRMUvL_axSy-s&callback=initMap"></script>
#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnazvkvhL0cy6SR7HnliZRMUvL_axSy-s&callback=initMap"></script>
#AIzaSyAnazvkvhL0cy6SR7HnliZRMUvL_axSy-s

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-04-15 03:09:49,-21.2000,-175.2000,84.36,84,20,12.66
1,1,The Valley,AI,2022-04-15 03:09:39,18.2170,-63.0578,78.10,75,22,23.67
2,2,Lensk,RU,2022-04-15 03:10:11,60.7253,114.9278,27.54,74,100,13.29
3,3,Faanui,PF,2022-04-15 03:10:03,-16.4833,-151.7500,82.35,71,13,16.87
4,4,Port Augusta,AU,2022-04-15 03:10:12,-32.5000,137.7667,84.56,23,7,4.88

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

#Or a for loop can be used.
## for temp in max_temp:
    #temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.

##Instead of using above For Loop to remove the neg. temps.for this code:
  #heat_layer = gmaps.heatmap_layer(locations, weights=temps)
##declare a list at the end of code:
  #heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add dissipation option to the gmaps.heat_layer() attribute,
 # to give better gradient variance to each measurement
### max_intensity
# Make each measurement radius larger
### point_radius
#default for the dissipation is "True," so the "dissipation" to "False."

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in 
max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

#Center and Zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-04-15 03:09:49,-21.2000,-175.2000,84.36,84,20,12.66
1,1,The Valley,AI,2022-04-15 03:09:39,18.2170,-63.0578,78.10,75,22,23.67
3,3,Faanui,PF,2022-04-15 03:10:03,-16.4833,-151.7500,82.35,71,13,16.87
4,4,Port Augusta,AU,2022-04-15 03:10:12,-32.5000,137.7667,84.56,23,7,4.88
5,5,Hithadhoo,MV,2022-04-15 03:10:12,-0.6000,73.0833,83.26,68,98,3.89
6,6,Ternate,ID,2022-04-15 03:10:13,0.8000,127.4000,85.50,67,60,5.10
8,8,Boa Vista,BR,2022-04-15 03:10:14,2.8197,-60.6733,82.38,65,75,10.36
12,12,Puerto Ayora,EC,2022-04-15 03:09:51,-0.7393,-90.3518,75.90,92,25,7.29
13,13,Rikitea,PF,2022-04-15 03:09:52,-23.1203,-134.9692,77.92,70,2,16.13
16,16,Lobito,AO,2022-04-15 03:10:18,-12.3481,13.5456,76.39,90,100,4.65

In [12]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0          Vaini      TO     84.36 -21.2000 -175.2000
1     The Valley      AI     78.10  18.2170  -63.0578
3         Faanui      PF     82.35 -16.4833 -151.7500
4   Port Augusta      AU     84.56 -32.5000  137.7667
5      Hithadhoo      MV     83.26  -0.6000   73.0833
6        Ternate      ID     85.50   0.8000  127.4000
8      Boa Vista      BR     82.38   2.8197  -60.6733
12  Puerto Ayora      EC     75.90  -0.7393  -90.3518
13       Rikitea      PF     77.92 -23.1203 -134.9692
16        Lobito      AO     76.39 -12.3481   13.5456

In [57]:
from config import g_key
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

print(hotel_df)
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    
# Grab the first hotel from the results and store the name.
try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
       print("Hotel not found... skipping.")

              City Country  Max Temp      Lat       Lng  \
0            Vaini      TO     84.36 -21.2000 -175.2000
1       The Valley      AI     78.10  18.2170  -63.0578
3           Faanui      PF     82.35 -16.4833 -151.7500
4     Port Augusta      AU     84.56 -32.5000  137.7667
5        Hithadhoo      MV     83.26  -0.6000   73.0833
..             ...     ...       ...      ...       ...
516      Porbandar      IN     82.38  21.6422   69.6093
523           Gizo      SB     84.38  -8.1030  156.8419
524        Buluang      PH     86.95  13.3068  123.3425
526  Kanniyakumari      IN     83.71   8.0833   77.5667
530         Kerema      PG     85.50  -7.9631  145.7785

                             Hotel Name
0                   Keleti Beach Resort
1          CeBlue Villas & Beach Resort
3    Bora-Bora Pearl Beach Resort & Spa
4             Majestic Oasis Apartments
5                     Scoop Guest House
..                                  ...
516                 Lords Inn Porbandar
523                  Imagination Island
524                Sacueza Beach Resort
526                  Sparsa Kanyakumari
530                         Frena Lodge

[151 rows x 6 columns]

In [54]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
1,The Valley,AI,78.10,18.2170,-63.0578,CeBlue Villas & Beach Resort
3,Faanui,PF,82.35,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,Port Augusta,AU,84.56,-32.5000,137.7667,Majestic Oasis Apartments
5,Hithadhoo,MV,83.26,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...
516,Porbandar,IN,82.38,21.6422,69.6093,Lords Inn Porbandar
523,Gizo,SB,84.38,-8.1030,156.8419,Imagination Island
524,Buluang,PH,86.95,13.3068,123.3425,Sacueza Beach Resort
526,Kanniyakumari,IN,83.71,8.0833,77.5667,Sparsa Kanyakumari
530,Kerema,PG,85.50,-7.9631,145.7785,Frena Lodge

In [50]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))